body {
  background-color: #EAFFD0;
}

hr {

  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
h1{
  color: #008080;
}
h2{
color: #008080;
}
h3{
color: #008080;
}
h4{
color: #008080;
}
h5{
color: #008080;
}
